:host {
  display: block;
}

ngx-charts-line-chart {
  display: block;
}

:host ::ng-deep .ngx-charts .x.axis .tick text {
  fill: white !important;
}

:host ::ng-deep .ngx-charts .y.axis .tick text {
  fill: white !important;
}

:host ::ng-deep .ngx-charts .x-axis-label,
:host ::ng-deep .ngx-charts .y-axis-label {
  fill: white !important;
}


:host ::ng-deep .ngx-charts text,
:host ::ng-deep .ngx-charts text {
  fill: white !important;
}