@import '@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.date-range {
  display: flex;
  gap: 16px;
}

.add-user-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.add-btn {
  height: 56px;
  min-width: 140px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.participant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 0;       /* mehr Höhe */
  min-height: 72px;      /* macht die List-Items höher */
}

.participant-info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.placeholder {
  font-size: 48px;
  color: #757575;
}

.text-info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.name {
  font-weight: 500;
}

.email {
  font-size: 13px;
  color: gray;
}

.role-select {
  min-width: 130px;
}


