





/* Main component card styling (basic Tailwind-like classes) */


    /* Global Toast Styles */
    .toast-container {
      padding: 3px 15px;
      padding-bottom: 0px;
      height: 55px;
      background-color: #1d1d1d;
      color: rgb(215, 215, 215);
      border-radius: 10px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
      font-weight: 300;
      font: Inter;
      font-size: 12px;
      opacity: 0;
      animation: fadeIn 0.3s ease-out forwards;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0px;
      p {
        height: 20px;
        padding: 0px;
        margin: 0px;
      }
      strong {
        font-size: 13px;
      }
    }
    
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }