.retro-board-table-container{
    background-color: #18191A;
    // background-color: #161717;
    margin-left: 1px;
}






th {
    background-color: #161616;
    height: 65px;
}


.table-container {
  width: fit-content;
  width: 100%;
//   table-layout: fixed;
  table-layout: fixed;
  border-collapse: collapse;
}



.table-header-col {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    // align-items: center;
    padding-bottom: 0px;
    padding-top: 10px;
    height: 65px;
    // transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.table-header-col:hover{
    // background-color: #1b1b1b;
    // border-radius: 15px;
    border-right: 1px solid #272727;
}

.table-header-input{
    background-color: transparent;
    border: none;
    outline: none; 
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
    padding: 5px 7px;
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100px;
}
.table-header-input:hover{
    background-color: #1f1f1f;
}
.table-header-input:focus{
    background-color: #1f1f1f;
}
.table-header-input::placeholder{
    font-weight: 400;
    font-size: 12px;
}

.table-body-row {

}

.table-body-col {
    // padding: 10px 15px;
    font-size: 14px;
    // padding-right: 5px;
}
// .table-body-col:hover {
//     background-color: #1f222271;
//     border-radius: 15px;
// }

.table-row{
    align-items: center;
}
.table-row:nth-child(odd) {
  background-color: #1d1f1e; // or any light color
}
.table-row:nth-child(odd):hover{
    background-color: #31373341;
}
.table-row:nth-child(even):hover{
    background-color: #3434341a;
}


.resizable-box {
  position: relative;
  min-width: 133px;
  
//   background-color: #151515;
//   border-right: 1px solid #2a2a2a;
}


.resizer {
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
  z-index: 10;
}

.resizer:hover {
    background-color: #1F2222;
    border-radius: 10px;
}



.col-title{
    font-size: 14px;
    font-weight: 700;
    color: white;
    font-family: Inter;
    text-align: left;
    padding-left: 5px;
    margin-top: 7px;
}

.type-card{
    background-color: #1C1D1D;
    width: fit-content;
    font-size: 8px;
    font-weight: 600;
    font-family: Inter;
    color: #98BF23;
    padding: 4px 8px;
    border-radius: 20px;
    border: 0.5px solid #2B2E2E;
    margin-left: 5px;
    margin-top: -5px;
}





.add-row-btn{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  gap: 7px;
  color: #979797;
  font-size: 12px;
  font-weight: 200;
  margin: auto;
  transition: all 0.2s ease;
  width: 105px;
  height: 30px;
  padding-top: 2px;
  background-color: #2626267c;
  margin-top: 20px;
  margin-bottom: 20px;
}
.add-row-btn:hover{
  background-color: #272727;
  cursor: pointer;
}
.add-row-btn:active {
  background-color: #2b2b2b;
  transform: scale(0.98);
}