.dialog-container {
    background-color: #141414;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    align-items: center;
    padding: 5px 20px 20px 20px;
}

.dialog-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.cancel-btn {
  border: none;
  background-color: #2f2f2f;
  color: #969696;
  font: Inter;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.cancel-btn:hover {
    background-color: #2a2a2a;
    cursor: pointer;
}
.cancel-btn:active {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    transform: scale(0.95);
}



.ok-btn {
  border: none;
  background-color: #1847b6;
  color: #ffffff;
  font: Inter;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.ok-btn:hover {
    background-color: #1a4dc6;
    cursor: pointer;
}
.ok-btn:active {
    background-color: #1a4dc6;
    cursor: pointer;
    transform: scale(0.95);
}