
.head {
    border-bottom: 0.1px solid #1F2222;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scrollable-box {
  flex: 1 1 auto;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  position: relative;
}


.scaled-wrapper {
  transform-origin: top left;
}

.dialog-head{
    border-bottom: 0.1px solid #1F2222;
    height: 50px;
    font-size: 12px;
    margin-left: 0px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.save-btn {
  background-color: #262626;
  color: #A4A4A4;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 12px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.save-btn:hover {
  background-color: #2e2d2d;
}

.layout-head{
    border-bottom: 0.1px solid #1F2222;
    height: 60px;
    font-size: 12px;
    margin-left: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-top: 20px;
        flex-shrink: 0;

}



.layout-name-input{
    background-color: transparent;
    // border: none;
    outline: none; 
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    padding: 3px 12px;
    border-radius: 12px;
    width: 400px;
    height: 30px;
    border: #1f1f1f solid 0.1px;
}
.layout-name-input:hover{
    background-color: #1f1f1f;
}
.layout-name-input:focus{
    background-color: #1f1f1f;
}
.layout-name-input::placeholder{
    font-weight: 400;
    font-size: 16px;
}




.zoom-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 150px;
  width: 110px;
  justify-content: center;
}
.zoom-text{

}

.zoom-button{
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding-top: 2px;
}
.zoom-button:hover {
  background-color: #1f1f1f;
}




.back-btn{
  flex-direction: row;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  gap: 7px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
.back-btn:hover{
  background-color: #2626267c;
}
.back-btn:active {
  transform: scale(0.9);
}




.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0 0px;
  padding: 0px 20px;
}

.custom-table th,
.custom-table td {
  padding: 10px 20px;
  // border-bottom: 1px solid #2B2E2E;
  text-align: left;
}

.custom-table th{
  font-size: 11px;
  color: #B1B1B1;
  border-bottom: 1px solid #2B2E2E;
  padding-bottom: 15px;
}

.custom-table td {
  border-bottom: 1px solid #242424;
  font-size: 14px;
}


.table-row {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 50px;
}

.table-row:hover {
  background-color: #2626267c;
}

.table-row:active {
    background-color: #2f2f2f7c;
}

// .table-row td:first-child {
//   border-top-left-radius: 15px;
//   border-bottom-left-radius: 15px;
// }

// .table-row td:last-child {
//   border-top-right-radius: 15px;
//   border-bottom-right-radius: 15px;
// }

.table-row.clicked {
  margin-bottom: 20px;
}







.row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 11px;
  color: #B1B1B1;
  border-bottom: 1px solid #2B2E2E;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 10px;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 50px; /* last column small for button */
  padding: 10px;
}

.grid-cell:last-child {
  border-right: none;
}

.dropdown {
  padding: 10px;
}


.table-container {
  padding: 0px 0px;
  margin-top: 10px;
}



.add-layout-btn {
  // border: 1px solid #4c4c4c;
  border: none;
  background-color: #2a2a2a;
  color: #808080;
  font: Inter;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  display: flex;
  flex-direction: row;
  // margin-left: 15px;
  position: absolute;
  right: 190px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.add-layout-btn:hover {
    background-color: #323232;
    cursor: pointer;
}
.add-layout-btn:active {
    background-color: #393939;
    cursor: pointer;
    transform: scale(0.95);
}




.layout-status {
  position: absolute;
  right: 20px;
}