.custom-select-wrapper {
  position: relative;
  width: 115px;
  font-family: Inter;
  font-size: 10px;
  color: white;
  user-select: none;
}

.custom-select-box {
  background-color: #1C1D1D;
  border: 0.1px solid #1c1d1d;
  border-radius: 9px;
  padding: 5px 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select-box:hover {
  background-color: #232323;
}

.custom-select-box.active {
  background-color: transparent;
  border: 0.1px solid #1f2222;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  background-color: #1c1d1d;
  border: 0.1px solid #1f2222;
  border-radius: 9px;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(20, 20, 20, 0.4);
}

.custom-option {
  padding: 5px 7px;
  cursor: pointer;
  text-align: left;
  height: 15px;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-option:hover {
  background-color: #232323;
}

.arrow {
  margin-left: 5px;
  font-size: 12px;
}


.dropdown-bottom-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 6px 8px;
  text-align: left;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  border-top: 1px solid #333;
  transition: background-color 0.2s ease;
  width: 100%;
  height: 25px;

  &:hover {
    background-color: #333;
  }
}
