
<div class="head">
    <div class="board-letter-icon">{{ getFirstLetterCapital(retroName()) }}</div>
    <h1>{{retroName()}}</h1>

    @switch (board()?.instances![0].phase) {
        @case (0) {
            <div class="phase-container entry">
                <div class="phase-ball"></div>
                <p>Entryphase</p>
            </div>
        }
        @case (1) {
            <div class="phase-container meeting">
                <div class="phase-ball"></div>
                <p>Meetingphase</p>
            </div>
        }
    }
    
    <div class="layout-container">
        <img src="../../../assets/icons/board_layout_status.png" alt="board-layout-icon" width="9px" style="margin-right: 5px;">
        <p>Layoutname</p>
    </div>
</div>

<div class="main-container">
    <div class="scrollable-box">
        <app-retro-board-table [boardData]="board"></app-retro-board-table>
    </div>
</div>
