
<div class="head">
    <div class="board-letter-icon">{{ getFirstLetterCapital(retroName) }}</div>
    <h1>{{retroName}}</h1>
    <div class="phase-container">
        <div class="phase-ball"></div>
        <p>Meetingphase</p>
    </div>
    <div class="layout-container">
        <img src="../../../assets/icons/board_layout_status.png" alt="board-layout-icon" width="9px" style="margin-right: 5px;">
        <p>Sprint-Retro 6-Spaltig</p>
    </div>
</div>

<div class="main-container">
    <div class="scrollable-box">
        <app-retro-board-table></app-retro-board-table>
    </div>
</div>
