
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #18191A;
  font-family: Inter;
  color: white;
  padding: 0px;
}

html, body {
  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #13141599;

  &::-webkit-scrollbar {
    height: 3px;
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: #131616;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 1px;
    border: 1px solid #131616;
  }



}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}


/* Default (sidebar expanded) */
.sidebar {
  width: 210px;
  transition: width 0.3s ease;
}

.main-content {
  padding-left: 210px;
  transition: padding-left 0.3s ease;
}

/* Collapsed state */
.sidebar-collapsed .sidebar {
  width: 60px;
}

.sidebar-collapsed .main-content {
  padding-left: 60px;
}







