


.datepicker-container{
    position: relative;
    width: 150px;
    margin-top: 20px;

    .date-button{
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        top: 9px;
        right: 9px;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
    }
 
}

.datepicker-button-img{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}


.date-input{
    background-color: #232323;
    box-sizing: border-box;
    outline: none; 
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    border: none;
    align-content: center;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.4;
    padding: 5px 15px;
    margin-bottom: -3px;
    transition: all 0.2s ease;
}
.date-input:hover{
    background-color: #303030;
    cursor: pointer;
}
/* .date-input:focus{
    background-color: #242424;
} */
.date-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #A4A4A4;
}