


.datepicker-container{
    position: relative;
    width: 100%; 



    .date-button{
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 6px;
    right: 7px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

&:hover .date-button,
.date-input:focus + .date-button {
    opacity: 1;
    pointer-events: auto;
}

.date-button:hover{
    background-color: #343434;
}


    
}

.datepicker-button-img{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}


.date-input{
    background-color: transparent;
    box-sizing: border-box;
    // border: none;
    outline: none; 
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    // padding: 3px 12px;
    border-radius: 12px;
    width: 100%;
    min-height: 70px;
    border: none;
    align-content: center;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.4;
    padding: 5px 15px;
    margin-bottom: -3px;
}
.date-input:hover{
    background-color: #242424;
    cursor: default;
}
.date-input:focus{
    background-color: #242424;
}
.date-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
}