name: Continuous Integration

on:
  pull_request:
    branches: [main, dev]

env:
  # Database
  MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
  MYSQL_DATABASE: ${{ vars.MYSQL_DATABASE }}
  MYSQL_USER: ${{ vars.MYSQL_USER }}
  MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}

  MYSQL_EXTERNAL_PORT: ${{ vars.MYSQL_EXTERNAL_PORT }}
  MYSQL_INTERNAL_PORT: ${{ vars.MYSQL_INTERNAL_PORT }}

  DATABASE_HOSTNAME: ${{ vars.DATABASE_HOSTNAME }}

  # Backend
  ASPNETCORE_ENVIRONMENT: ${{ vars.ASPNETCORE_ENVIRONMENT }}

  API_KEY: ${{ secrets.API_KEY }}

  BACKEND_EXTERNAL_HTTP_PORT: ${{ vars.BACKEND_EXTERNAL_HTTP_PORT }}
  BACKEND_INTERNAL_HTTP_PORT: ${{ vars.BACKEND_INTERNAL_HTTP_PORT }}

  # Frontend
  FRONTEND_EXTERNAL_HTTP_PORT: ${{ vars.FRONTEND_EXTERNAL_HTTP_PORT }}
  FRONTEND_INTERNAL_HTTP_PORT: ${{ vars.FRONTEND_INTERNAL_HTTP_PORT }}

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Set Up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Start Docker Services
      run: docker compose up -d --build

    - name: Run Backend Unit & Integration Tests
      run: docker compose -f docker-compose.yml -f docker-compose.test.yml up backend_tests --build --abort-on-container-exit

    - name: Run Frontend E2E Tests
      run: docker compose -f docker-compose.yml -f docker-compose.test.yml up frontend_tests --build --abort-on-container-exit

    - name: Cleanup Docker Services
      if: always()
      run: docker compose -f docker-compose.yml -f docker-compose.test.yml down -v